<div class="loader">
  <div class="dot">D</div>
  <div class="dot">E</div>
  <div class="dot">V</div>
  <div class="dot">E</div>
  <div class="dot">L</div>
  <div class="dot">O</div>
  <div class="dot">P</div>
  <div class="dot">M</div>
  <div class="dot">E</div>
  <div class="dot">N</div>
  <div class="dot">T</div>
  <div class="cogs">
    <div class="cog cog0">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <div class="cog cog1">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <div class="cog cog2">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </div>
</div>
