<div class="main">

  <div class="div d-flex justify-content-between">
    <span>Какой тренинг Вам нужен?</span>
    <button class="button-icon">
      <img src="../../../../assets/img/pages-img/trainings/manager.png" alt="">
      <span>Для руководителей</span>
    </button>
    <button class="button-icon">
      <img src="../../../../assets/img/pages-img/trainings/b2b.png" alt="">
      <span>Для сегмента B2B</span>
    </button>
    <button class="button-icon">
      <img src="../../../../assets/img/pages-img/trainings/b2c.png" alt="">
      <span>Для сегмента B2C</span>
    </button>
    <button class="button-icon">
      <img src="../../../../assets/img/pages-img/trainings/education.png" alt="">
      <span>По обучению персонала</span>
    </button>
  </div>

  <div class="div d-flex">
    <div class="div col-6 d-flex justify-content-between p-0">
      <span>Для Компании или для себя?</span>
      <button>Для Компаний</button>
      <button>Для частных лиц</button>
    </div>
    <div class="div col-6 d-flex justify-content-between p-0">
      <span>Какой формат Вам удобен?</span>
      <button>Очный тренинг</button>
      <button>Онлайн обучение</button>
    </div>
  </div>
</div>
