/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

@import "null-style";
@import "variables";
@import "mixins";


body, html {
  font-family: Inter, serif;
  color: $main-color;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container {
  max-width: 991px;
}
