<div class="main container p-3">

  <div class="trainings d-flex flex-column flex-md-row">
    <div class="item col-12 col-md-4" *ngFor="let i of trainings">
      <div class="title">{{i.title}}</div>
      <div class="img">
        <img class="m-auto col-12 col-sm-8 col-md-12 p-0" src="../../../../assets/img/main/{{i.img}}.png" alt="">
      </div>
      <div class="trainings-list d-none d-md-block" *ngFor="let tr of i.trainingsList">
        <div class="training-text">Тренинг</div>
        <div class="training-name"><a [routerLink]="'/trainings/' + tr._id">{{tr.subTitle}}</a></div>
        <div class="link"></div>
      </div>
    </div>
  </div>
  <div class="link"></div>


</div>

