<div class="main container">

  <div class="trainings d-flex">
    <div class="item col-4" *ngFor="let i of trainings">
      <div class="title">{{i.title}}</div>
      <div class="img">
        <img src="../../../../assets/img/main/{{i.img}}.png" alt="">
      </div>
      <div class="trainings-list" *ngFor="let tr of i.trainingsList">
        <div class="training-text">Тренинг</div>
        <div class="training-name">{{tr.name}}</div>
        <div class="link"></div>
      </div>
    </div>
  </div>
  <div class="link"></div>


</div>

