@import "variables";
@import "mixins";

.main {
  @include main;
  margin-top: 70px;
  .text {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: $gray;
  }
  .clients {
    img {}
  }
}
