<div class="container my-4">
  <div class="company d-flex flex-column flex-sm-row">
    <div class="company__img col-12 col-sm-4">
      <img class="m-auto" src="/assets/img/pages-img/company.png" alt="">
    </div>
    <div class="company__text col-12 col-sm-8">
      <div class="company__text--title text-center text-sm-left">
        <p>Тренинговая компания</p>
        «Тезаурус»
      </div>
      <div class="company__text--description text-center text-sm-left">
        Бизнес-тренинги. Тренинги по развитию компетенций. Организационный консалтинг.
      </div>
      <div class="company__text--text">
        <p>
          Тренинговая компания “Тезаурус”  предлагает своим Клиентам широкий спектр услуг в области бизнес-обучения. За долгое время работы нашими экспертами накоплен уникальный опыт в самых разных сферах бизнеса, которым мы теперь с удовольствием делимся со своими Клиентами, помогая им развиваться и открывать для себя новые возможности.
        </p>
        <p>
          Залогом успеха нашей работы выступает большое количество факторов, являющихся нашими конкурентными преимуществами. В числе этих факторов и индивидуальный подход к кажому Клиенту, и использование самых передовых технологий в области T&D, и комплексный подход к решению задачи Клиента, и многое другое. При этом особого внимания заслуживают несколько моментов, выгодно отличающих нашу Компанию на рынке бизнес-обучения. Вот некоторые из них:
        </p>
        <ul>
          <li>Мы являемся не посредниками, а самостоятельным провайдером. У нас собственный постоянный состав профессиональных тренеров, являющихся сотрудниками нашей Компании. Все обучающие и консультационные программы, используемые в работе, созданы нашими специалистами, нам принадлежит их авторство и мы берем на себя ответственность за них.</li>
          <li>Все наши обучающие программы имеют предельную ориентацию на применение полученных знаний и навыков на практике. У нас Вы не встретитесь с отвлеченным рассказом о теоретической концепции, после которого остается непонятным, что с этой концепцией делать. Во все наши программы заложена первостепенная цель - дать вышедшему с тренинга человеку ясное понимание того, что ему нужно делать прямо сейчас, как это делать, и почему нужно это делать. На это нацелены все технологии и инструменты, используемые в наших программах.</li>
          <li>Мы не даем невыполнимых обещаний. Мы не будем обещать Вам увеличения объемов продаж в три раза только в результате проведенного тренинга. Мы прекрасно знаем разницу между учебными, управленческими и коммерческими задачами, а так же знаем как правильно ставить и решать эти задачи для достижения нужного результата.</li>
          <li>Мы являемся профессионалами. Уровень подготовки наших тренеров очень высок, все они являются сертифицированными и дипломированными специалистами, многократно проходившими повышение квалификации в области тренерского мастерства и в других смежных областях. К этому следует прибавить огромный практический опыт, полученный за время реализации многочисленных проектов в самых различных сферах бизнеса.</li>
        </ul>
        <p>
          Это лишь некоторые из причин, по которым обращаясь к нам Вы можете быть уверены в том, что для Ваших задач будут найдены максимально эффективные и профессиональные решения.
        </p>
        <p>
          Несколько направлений в нашей работе являются приоритетными. Это направления нашей специализации, по которым нами накоплен максимальный опыт, которым мы теперь делимся с нашими Клиентами:
        </p>
        <p>
          Тренинги для руководителей.
        </p>
        <p>
          Мы специализируемся на управленческих тренингах  для руководителей разного уровня. В арсенале Компании есть мощные стартовые тренинги по основным управленческим навыкам для руководителей начального и среднего звена, а так же тренинги по принятию качественных управленческих решений на стратегическом уровне.
        </p>
        <p>
          Тренинги для сегмента B2B.
        </p>
        <p>
          Темы, которые всегда будут актуальны в сегменте “Business2Business” - это деловые переговоры и расширение клиентской базы. Эти направления полно и глубоко раскрываются на тренингах нашей Компании. Мы идем в ногу со временем, постоянно совершенствуя наши программы, поэтому в них содержатся самые современные и эффективные практические приемы и технологии.
        </p>
        <p>
          Тренинги для сегмента B2C.
        </p>
        <p>
          Обучение персонала в сегменте “Business2Client” всегда являлось одной из приоритетных задач для руководителей бизнеса. Качество обслуживания Клиентов играет огромную роль в формировании имиджа Компании на рынке и создании устойчивой клиентской базы. Нашей Компанией накоплен огромный опыт по выведению качества работы персонала в сегменте “B2C” на новый уровень.
        </p>
        <p>
          В нашем каталоге тренингов Вы сможете найти обучающую программу, наиболее соответствующую Вашим задачам. Все наши программы адаптируются под каждого конкретного Клиента. Мы будем рады видеть Вас в числе наших Клиентов, и с удовольствием поможем Вам раскрыть новые возможности Вашего бизнеса!
        </p>
      </div>
    </div>
  </div>

  <app-customer-logos [clients]="clientLogos">Мы ценим наших Клиентов и гордимся сотрудничеством с ними:</app-customer-logos>


</div>
