<div class="container">
  <div class="company d-flex flex-column flex-sm-row">
    <div class="company__img col-12 col-sm-4">
      <img class="m-auto" src="../../../../assets/img/pages-img/company.png" alt="">
    </div>
    <div class="company__text col-12 col-sm-8">
      <div class="company__text--title text-center text-sm-left">
        <p>Тренинговая компания</p>
        «Тезаурус»
      </div>
      <div class="company__text--description text-center text-sm-left">
        Бизнес-тренинги. Тренинги по развитию компетенций. Организационный консалтинг.
      </div>
      <div class="company__text--text">
        <p>Трампампапампам</p>
        <p>Пампарирурам</p>
        <p>Ляляляляляляляляляляляля</p>
      </div>
    </div>
  </div>

  <app-customer-logos [clients]="clientLogos"></app-customer-logos>


</div>
