<div class="container-fluid main">
  <div class="title">БИЗНЕС-ТРЕНЕРЫ</div>
  <div class="trainers d-flex">
    <div class="trainer col-4">
      <div class="img-name d-flex">
        <div class="img col-6">
          <img src="/assets/img/main/trainers/solovova.png" alt="">
        </div>
        <div class="name col-6">
          Светлана Соловова
          <hr>
        </div>
      </div>
      <div class="expertise">
        <p>Сертифицированный бизнес-тренер</p>
        <p>Эксперт в области управления персоналом, построения системы обучения и развития персонала в организации</p>
      </div>
      <div class="experience">Опыт проведения тренингов 15 лет</div>
      <div class="experience-detail">
        <p>
          <img src="/assets/img/main/trainers/icons/1.png" alt="">
          <span>Провела более 700 различных тренингов</span>
        </p>
        <p>
          <img src="/assets/img/main/trainers/icons/2.png" alt="">
          <span>Обучила на тренингах более 5 000 человек</span>
        </p>
        <p>
          <img src="/assets/img/main/trainers/icons/3.png" alt="">
          <span>Отработала более 8 000 тренинговых часов</span>
        </p>
      </div>
      <div class="more">
        <button routerLink="/trainers/1">Подробнее о тренере</button>
      </div>
    </div>


    <div class="trainer col-4">
      <div class="img-name d-flex">
        <div class="img col-6">
          <img src="/assets/img/main/trainers/chugunov.png" alt="">
        </div>
        <div class="name col-6">
          Вадим Чугунов
          <hr>
        </div>
      </div>
      <div class="expertise">
        <p>Сертифицированный бизнес-тренер</p>
        <p>Эксперт в области разработки тренинговых программ и решения бизнес-задач через обучение</p>
      </div>
      <div class="experience">Опыт проведения тренингов 11 лет</div>
      <div class="experience-detail">
        <p>
          <img src="/assets/img/main/trainers/icons/1.png" alt="">
          <span>Провела более 700 различных тренингов</span>
        </p>
        <p>
          <img src="/assets/img/main/trainers/icons/2.png" alt="">
          <span>Обучила на тренингах более 5 000 человек</span>
        </p>
        <p>
          <img src="/assets/img/main/trainers/icons/3.png" alt="">
          <span>Отработала более 8 000 тренинговых часов</span>
        </p>
      </div>
      <div class="more">
        <button routerLink="/trainers/2">Подробнее о тренере</button>
      </div>
    </div>


    <div class="trainer col-4">
      <div class="img-name d-flex">
        <div class="img col-6">
          <img src="/assets/img/main/trainers/modin.png" alt="">
        </div>
        <div class="name col-6">
          Дмитрий Модин
          <hr>
        </div>
      </div>
      <div class="expertise">
        <p>Сертифицированный бизнес-тренер</p>
        <p>Эксперт в области управления персоналом, построения системы обучения и развития персонала в организации</p>
      </div>
      <div class="experience">Опыт проведения тренингов 10 лет</div>
      <div class="experience-detail">
        <p>
          <img src="/assets/img/main/trainers/icons/1.png" alt="">
          <span>Провела более 700 различных тренингов</span>
        </p>
        <p>
          <img src="/assets/img/main/trainers/icons/2.png" alt="">
          <span>Обучила на тренингах более 5 000 человек</span>
        </p>
        <p>
          <img src="/assets/img/main/trainers/icons/3.png" alt="">
          <span>Отработала более 8 000 тренинговых часов</span>
        </p>
      </div>
      <div class="more">
        <button routerLink="/trainers/3">Подробнее о тренере</button>
      </div>

    </div>
  </div>
</div>
