<div class="main">
  <div class="trainers">

    <div class="d-flex trainer " *ngFor="let trainer of trainers">

      <div class="img col-5">
        <img src="../../../../assets/img/main/trainers/{{trainer?.img}}.png" alt="">
      </div>
      <div class="info col-7">

        <div class="name" [routerLink]="'/trainers/' + trainer?._id">
          {{trainer?.name?.firstName}} {{trainer?.name?.lastName}}
        </div>
        <div class="experience">Опыт проведения тренингов {{trainer?.experience}} лет</div>
        <div class="expertise">
          <p>{{trainer?.grade}}</p>
          <p>{{trainer?.expertise}}</p>
        </div>

        <div class="experienceDetail">
          <p>
            <img src="../../../../assets/img/main/trainers/icons/1-orange.png" alt="">
            <span>Провел{{ trainer?.isMan ? '' : 'а'}} более {{trainer?.experienceDetail?.trainingsSum}} различных тренингов</span>
          </p>
          <p>
            <img src="../../../../assets/img/main/trainers/icons/2-orange.png" alt="">
            <span>Обучил{{ trainer?.isMan ? '' : 'а'}} на тренингах более {{trainer?.experienceDetail?.studentsSum}} человек</span>
          </p>
          <p>
            <img src="../../../../assets/img/main/trainers/icons/3-orange.png" alt="">
            <span>Отработал{{ trainer?.isMan ? '' : 'а'}} более {{trainer?.experienceDetail?.hours}} тренинговых часов</span>
          </p>
        </div>
        <div class="more">
          <button [routerLink]="'/trainers/' + trainer?._id">Подробнее о тренере</button>
        </div>
      </div>
    </div>

  </div>
</div>
