@import "variables";

@mixin button ($w, $h, $c, $br, $fz, $fw: 500, $bg: $white) {
  width: $w;
  height: $h;
  border: 1px solid $c;
  color: $c;
  border-radius: $br;
  font-size: $fz;
  line-height: $fz;
  font-weight: $fw;
  background: $bg;
}
