@import "~bootstrap";

@mixin simple-page($mt) {
  @extend .d-flex;
  @extend .flex-column;
  @extend .flex-sm-row;

  color: #17375E;
  &__img {
    @extend .col-12;
    @extend .col-sm-4;
    img {
      width: 270px;
      height: auto;
      margin-top: $mt;
    }
    margin-bottom: 1rem!important;
  }
  &__text {
    @extend .col-12;
    @extend .col-sm-8;
    & > * {
      padding-bottom: 25px;
    }

    &--title {
      @extend .text-center;
      @extend .text-sm-left;
      p {
        font-size: 20px;
        font-weight: 400;
        padding-bottom: 10px;
      }

      font-size: 22px;
      font-weight: 600;
    }

    &--description {
      @extend .text-center;
      @extend .text-sm-left;
      color: $gray;
      font-size: 14px;
    }

    &--text {
    }
  }
  hr {
    @extend .d-sm-none;
    border-top: 4px solid #17375E;
  }
}
