<div class="container-fluid main">
  <div class="title">БИЗНЕС-ИГРЫ</div>
  <div class="trainers d-flex flex-column flex-md-row">

    <div class="trainer coll-12 col-md-4 mb-5 mb-md-0 d-flex flex-column justify-content-between">
      <div class="div">
        <div class="img-name d-flex flex-column flex-lg-row">
          <img src="/assets/img/main/games/game_1.png" alt="">
        </div>


        <div class="expertise">
          <p>Бизнес-игра</p>
          <h6>«Как построить эффективный Отдел продаж»</h6>
        </div>

        <div class="experience-detail d-none d-md-block">
          <p>
            <img src="/assets/img/main/games/game_icon_1.png" alt="">
            <span>Понятные выводы для применения в работе</span>
          </p>
          <p>
            <img src="/assets/img/main/games/game_icon_2.png" alt="">
            <span>Совместные идеи и открытия в процессе игры</span>
          </p>
          <p>
            <img src="/assets/img/main/games/game_icon_3.png" alt="">
            <span>Понятные выводы для применения в работе</span>
          </p>
        </div>
      </div>
      <div class="more text-center text-md-left my-4 my-md-0">
        <button routerLink="/games/1">Подробнее об игре</button>
      </div>
    </div>


    <div class="trainer coll-12 col-md-4 mb-5 mb-md-0 d-flex flex-column justify-content-between">

      <div class="d-flex flex-column">
        <div class="img-name d-flex flex-column flex-lg-row">
          <img src="/assets/img/main/games/game_2.png" alt="">
        </div>


        <div class="expertise">
          <p>Бизнес-игра</p>
          <h6>«Lean Management в сервисном обслуживании»</h6>
        </div>

        <div class="experience-detail d-none d-md-block">
          <p>
            <img src="/assets/img/main/games/game_icon_1.png" alt="">
            <span>Понятные выводы для применения в работе</span>
          </p>
          <p>
            <img src="/assets/img/main/games/game_icon_2.png" alt="">
            <span>Совместные идеи и открытия в процессе игры</span>
          </p>
          <p>
            <img src="/assets/img/main/games/game_icon_3.png" alt="">
            <span>Понятные выводы для применения в работе</span>
          </p>
        </div>
      </div>
      <div class="more text-center text-md-left my-4 my-md-0">
        <button routerLink="/games/1">Подробнее об игре</button>
      </div>
    </div>


    <div class="trainer coll-12 col-md-4 mb-5 mb-md-0 d-flex flex-column justify-content-between">
      <div>
        <div class="img-name d-flex flex-column flex-lg-row">
          <img src="/assets/img/main/games/game_3.png" alt="">
        </div>


        <div class="expertise">
          <p>Бизнес-игра</p>
          <h6>«Работа на удаленке: возможности и опасности»</h6>
        </div>

        <div class="experience-detail d-none d-md-block">
          <p>
            <img src="/assets/img/main/games/game_icon_1.png" alt="">
            <span>Понятные выводы для применения в работе</span>
          </p>
          <p>
            <img src="/assets/img/main/games/game_icon_2.png" alt="">
            <span>Совместные идеи и открытия в процессе игры</span>
          </p>
          <p>
            <img src="/assets/img/main/games/game_icon_3.png" alt="">
            <span>Понятные выводы для применения в работе</span>
          </p>
        </div>
      </div>
      <div class="more text-center text-md-left my-4 my-md-0">
        <button routerLink="/games/1">Подробнее об игре</button>
      </div>
    </div>
  </div>
</div>
