@import "variables";
@import "mixins";

.nav-nav {
  position: relative;
  height: 17vh;

  .title {

    span {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: $gray;
      cursor: pointer;
    }

    text-align: center;
    @include flex-center;
    position: relative;
    height: 14vh;
    padding-bottom: 3vh;
    width: 100%;

    background-image: url(/assets/img/pages-img/title-background.svg);
    background-color: unset;
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
  }

  button {
    @include button(189px, 37px, $black, 7px, 11px, 500, $orange);
    border-color: $orange;
    margin-bottom: 70px;
    transition: 0.2s ease-out;

    &:hover {
      transition: 0.2s ease-out;
      transform: scale(1.04);
    }
  }
}

.nav {
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  width: 100%;
  height: $height-nav;
  background: $background-color-nav;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .menu {
      cursor: pointer;
      align-items: center;
      color: white;

      .sandwich {
        justify-content: center;
      }
    }

  }

}


.example-sidenav {
  padding: 20px;
}

.mat-drawer-container {
  background: #ffffff;
}

