
    <app-main-nav></app-main-nav>
    <app-main-trainings></app-main-trainings>

    <div class="nav-nav d-flex">
      <div class="title">
        <button routerLink="/trainings">ВСЕ ТРЕНИНГИ</button>
      </div>
    </div>

    <app-main-more></app-main-more>
    <app-main-clients></app-main-clients>
    <app-main-trainers></app-main-trainers>
    <app-main-activities></app-main-activities>


    <div class="nav-nav d-flex">
      <div class="title">
        <button routerLink="/trainings">КАТАЛОГ ТРЕНИНГОВ</button>
      </div>
    </div>
    <app-main-consulting></app-main-consulting>
