@import "variables";

.nav {
  height: $height-nav;
  background: $background-color-nav;

  &__menu {
    height: 100%;
    color: $color-white;
    display: flex;
    justify-content: space-around;
    align-items: center;

    li {
      cursor: pointer;
    }
  }
}
