@import "variables";



.nav {
  transition: 0.5s;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 56px;
  background: $background-color-nav;
  z-index: 10;

  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .menu {
      cursor: pointer;
      align-items: center;
      color: white;

      .sandwich {
        justify-content: center;
      }
    }

  }

  &__logo {
    img {
      display: flex;
      flex-grow: 1;
      min-width: 144px;
      min-height: 28px;
      line-height: 1;
    }
  }

  &__menu {
    font-size: 9px;
    font-weight: 300;
    height: 100%;
    color: $white;
    justify-content: space-around;
    align-items: center;
    letter-spacing: 0.15rem;

    li {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 0 20px;
      white-space: nowrap;
      border-bottom: 3px solid rgba(0,0,0,0);
      transition: 0.2s;

      &:not(.active):hover {
        transition: 0.2s;
        color: #5EC9C5;
        border-color: #5EC9C5;
      }
    }

    .active {
      color: $orange;
      border-color: $orange;
    }

    .disabled-active {
      color: $white;
    }
  }
}


.example-container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}


.example-sidenav {
  min-width: 200px;
  margin-top: $height-nav;
}

.mat-drawer-container {
  background: #ffffff;
}

.mat-list-base .mat-list-item {
  font-size: 14px;
}

.mat-list-item-content {
  padding: 0;
}

.mat-list-item-ripple {
  padding-left: 20px !important;
}

mat-nav-list {
  .active {
    //color: white;
    background: #e9ecef!important;
  }
}


.nav-light {
  transition: 0.5s;
  background: $background-color-nav-light;
  &:hover {
    background: $background-color-nav;
    transition: 0.5s;
  }
}


.up {
  position: fixed;
  right: 40px;
  bottom: 20px;
  z-index: 99;
  background: orange;
  transition: 0.5s;
  @media screen and (max-width: 576px){
    right: 20px;;
  }
}

.hidden {
  bottom: -80px;
  transition: 0.5s;
}
