@import "variables";

.nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: $height-nav;
  background: $background-color-nav;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between
  }

  &__logo {
    img {
      display: flex;
      flex-grow: 1;
      min-width: 144px;
      min-height: 28px;
      line-height: 1;
    }
  }

  &__menu {
    font-size: 12px;
    height: 100%;
    color: $color-white;
    display: flex;
    justify-content: space-around;
    align-items: center;

    li {
      cursor: pointer;
      padding: 0 20px;
      white-space: nowrap;
      &:hover {
        color: red;
      }
    }

    .active{
      color: orange;
    }

    .disabled-active {
      color: $color-white;
    }
  }
}
