<div class="main">
  <div class="more d-flex">
    <div class="button col-4">
      <button routerLink="/company">УЗНАТЬ БОЛЬШЕ</button>
    </div>
    <div class="description col-8">
      <p>Тренинговая компания «Тезаурус» объединяет профессиональных тренеров, работающих на рынке бизнес-обучения с 2009 года.</p>
      <p>Специалистами Компании разработан собственный пул обучающих программ, которые в каждом случае адаптируются под конкретного корпоративного Клиента и учитывают специфику его бизнеса. Компания постоянно отслеживает ведущие мировые тренды в области T&D, и использует в своей работе наиболее актуальные для этой сферы технологии.</p>
      <p>Залогом достижения высоких результатов является комплексный подход к работе с каждым Клиентом, позволяющий вывести бизнес-процессы в его организации на новый уровень, и дать практические инструменты для дальнейшего движения в заданном направлении.</p>
    </div>
  </div>
</div>
