
<div class="container mb-5">
  <div class="mt-4 consulting d-flex flex-column flex-sm-row">
    <div class="consulting__img col-12 col-sm-4">
      <img class="m-auto d-none d-sm-block" src="/assets/img/pages-img/org-cons.png" alt="">
      <img class="w-100 m-auto d-block d-sm-none" src="/assets/img/pages-img/consulting-long.png" alt="">
    </div>
    <div class="consulting__text col-12 col-sm">
      <div class="consulting__text--title text-center text-sm-left">Организациионный консалтинг</div>
      <div class="consulting__text--description text-center text-sm-left">Построение системы обучения в компании Клиента</div>
      <hr class="d-sm-none">
      <div class="consulting__text--text">
        <p>
          Каждая компания самостоятельно выбирает концепцию обучения своих сотрудников. Для одних компаний более эффективно и рационально привлекать на постоянной основе внешних провайдеров для повышения профессионального уровня своих сотрудников, другие компании делают выбор в пользу своей собственной внутренней системы обучения. Каким образом должна быть построена эта система? Что нужно для того, чтобы она эффективно работала? Как поддерживать ее эффективность на высоком уровне и повышать этот уровень дальше?
        </p>
        <p>
          Если на пути развития Вашей Компании Вы оказались перед подобным выбором, и отдали предпочтение собственному внутреннему обучению, это достойное решение, которое может принести Вам огромные дивиденды в дальнейшем. При этом путь построения качественной системы обучения может быть долгим и непростым. На этом пути важно не допустить ошибок, которые могут превратить эффективный инструмент развития бизнеса в обузу и источник неоправданных расходов. Для того, чтобы этого не произошло, Вам нужно иметь ответы на огромное количество вопросов.
        </p>
        <ul>
          <li>Какие задачи бизнеса должна решать система обучения?</li>
          <li>Какие задачи она решить никогда не сможет?</li>
          <li>Каковы должны быть ключевые показатели эффективности работы системы обучения?</li>
          <li>Кто и как должен контролировать работу системы обучения?</li>
          <li>Как должны быть организованы бизнес-процессы в системе обучения?</li>
          <li>Какие ресурсы, средства и полномочия должны выделяться системе обучения?</li>
          <li>Каковы самые распространенные ошибки, способные свести на нет эффективность работы системы обучения?</li>
        </ul>
        <p>
          Это лишь малая часть вопросов, на которые у Вас должен быть ответ, прежде, чем Вы приступите к построению системы. При этом не имеет значения планируемая численность сотрудников, которые будут заниматься обучением - основные закономерности эффективности корпоративного обучения едины и для многочисленного подразделения, и для одного-двух штатных тренеров.
        </p>
        <p>
          К сожалению, эти правила и закономерности часто неизвестны Компаниям, выбравшим внутреннюю систему обучения. Это приводит к тому, что многим вещам приходится учиться на собственном опыте, теряя время, неся финансовые потери и затрачивая лишние усилия. При этом далеко не всему можно научиться на собственном опыте, поэтому многие возможности часто так и остаются неизвестны, а многие типичные ошибки повторяются из раза в раз, отнимая ресурсы Компании.
        </p>
        <p>
          Воспользоваться помощью профессионалов в сфере бизнес-обучения на этапе проектирования и построения собственной внутренней системы - это прекрасная возможность избежать ошибок и поставить на службу своей Компании опыт множества других Компаний, а так же знания и опыт консультантантов-экспертов.
        </p>
        <p>
          В рамках услуги “Организационный консалтинг” мы поможем Вам на всех этапах - от проектирования бизнес-процессов и отбора ключевых специалистов, до аудита работы построенной системы и ее точечной доработки. Для предложения Вам наиболее эффективных решений мы полностью погружаемся в специфику Вашего бизнеса и разрабатываем вместе с Вами именно ту систему, которая максимально ей соответствует.
        </p>
        <p>
          Если для Вас актуально качественное обучение персонала на постоянной основе, контроль результатов обучения на всех уровнях, прозрачная и понятная система, которой легко управлять - мы создадим такую систему внутри Вашей организации «под ключ».
        </p>
        <p>
          Этапы совместной работы по созданию системы обучения в компании Клиента:
        </p>
        <ul>
          <li>Анализ и диагностика ситуации, существующей в Компании на данный момент</li>
          <li>Формулировка целей и задач будущей системы обучения в соответствии с целями и задачами бизнеса Клиента</li>
          <li>Разработка архитектуры будущей системы: проектирование бизнес-процессов, распределение функций и ответственности</li>
          <li>Помощь в создании методической базы: тренинговых программ, учебных и демонстрационных материалов и т. д.</li>
          <li>Сопровождение всей работы по построению системы: разработка документов, оценка и отбор ключевых специалистов и т. д.</li>
          <li>Аудит работы системы после ее создания, анализ эффективности ее работы и точечная доработка</li>
        </ul>
      </div>
    </div>
  </div>
</div>
