<div class="consulting d-flex" perfectScrollbar>
  <div class="consulting__img col-4">
    <img src="../../../../assets/img/pages-img/org-cons.png" alt="">
  </div>
  <div class="consulting__text col-8">
    <div class="consulting__text--title">Организациионный консалтинг</div>
    <div class="consulting__text--description">Построение системы обучения в компании Клиента</div>
    <div class="consulting__text--text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A delectus deleniti
      distinctio inventore minus nostrum quam soluta voluptatibus. A amet animi cum cumque delectus deserunt dicta dolor
      eos error facere, fugit harum id labore molestiae neque numquam odit quaerat ratione, rem repudiandae rerum
      tenetur totam voluptas voluptate voluptatibus? Ab aliquid asperiores commodi consectetur dolorem eligendi eos esse
      ex expedita explicabo harum hic illo impedit itaque labore libero molestiae officia quasi qui quidem quo
      repudiandae tempore unde veniam vero, voluptas voluptatem voluptates. Asperiores consequatur doloribus error hic
      soluta unde voluptate voluptates voluptatibus? Ab aliquid beatae commodi doloribus, eos est eveniet exercitationem
      in minus nisi quas quasi quidem reiciendis repellat sed voluptatibus voluptatum! Cupiditate earum ipsam modi
      perspiciatis provident quaerat quidem voluptatibus! Esse, neque, nostrum! Assumenda cumque dolor, incidunt magni
      nostrum quaerat saepe unde. Aspernatur est expedita ipsum, nam neque nesciunt quasi rem repellendus repudiandae
      sunt. Corporis ex magni nihil quasi quidem. A aliquam amet assumenda at cupiditate delectus dolore dolorem earum
      est exercitationem facere illum maiores minus molestiae nam perspiciatis placeat, porro, possimus, quibusdam quo
      rem velit veritatis. A ab amet, aspernatur deleniti deserunt distinctio dolor dolore dolorem doloremque doloribus
      eligendi error ex excepturi expedita explicabo facilis fugiat fugit, ipsam magni maxime mollitia nesciunt
      obcaecati odio porro quia repudiandae sed similique soluta temporibus ullam unde vel veniam voluptatum? Adipisci
      beatae commodi consectetur consequatur culpa cum delectus deleniti doloremque est, excepturi inventore ipsa ipsum
      itaque laborum molestiae nihil optio pariatur quam qui reiciendis rem repudiandae tempore? Ab accusamus aliquam
      consequatur culpa cum dicta distinctio dolore ducimus ea eligendi et eveniet expedita, facilis harum incidunt,
      labore magnam molestiae natus nisi numquam perspiciatis placeat possimus quibusdam quisquam rem repellendus
      temporibus totam ullam unde ut! Asperiores autem inventore magni molestias neque. Aperiam blanditiis consequatur
      corporis cumque illo minima nisi obcaecati, odit placeat, quisquam, sint tempora?
    </div>
  </div>
</div>
