@import "variables";

.nav {
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: $height-nav;
  background: $background-color-nav;
  z-index: 10;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .menu {
      cursor: pointer;
      align-items: center;
      color: white;
      .sandwich {
        justify-content: center;
      }
    }

  }

  &__logo {
    img {
      display: flex;
      flex-grow: 1;
      min-width: 144px;
      min-height: 28px;
      line-height: 1;
    }
  }

  &__menu {
    font-size: 12px;
    height: 100%;
    color: $white;
    justify-content: space-around;
    align-items: center;

    li {
      cursor: pointer;
      padding: 0 20px;
      white-space: nowrap;
      &:hover {
        color: #5DCFC3;
      }
    }

    .active{
      color: orange;
    }

    .disabled-active {
      color: $white;
    }
  }
}


.example-container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}


.example-sidenav {
  padding: 20px;
}

.mat-drawer-container {
  background: #ffffff;
}

.example-sidenav-content {
  margin-top: $height-nav
}

