<div class="container my-4">
  <div class="contacts d-flex flex-column flex-sm-row">
    <div class="contacts__img col-12 col-sm-4">
      <img class="m-auto" src="/assets/img/pages-img/company.png" alt="">
    </div>
    <div class="contacts__text col-12 col-sm-8">
      <div class="contacts__text--title text-center text-sm-left">
        <p>Тренинговая компания</p>
        «Тезаурус»
      </div>
      <div class="contacts__text--description text-center text-sm-left">
        Бизнес-тренинги. Тренинги по развитию компетенций. Организационный консалтинг.
      </div>
      <div class="contacts__text--text telephones">
        <p><a href="tel:+7(495)231-84-06">8(495)231-84-06</a></p>
        <p><a href="tel:+7(985)570-70-33">8(985)570-70-33</a></p>
        <p><a href="mailto:welcome@thesaurus-trainings.ru?subject=Вопрос по по тренингам">welcome@thesaurus-trainings.ru</a></p>
      </div>
      <div class="contacts__text--description text-left address">
        <p>г. Москва, 2-я Звенигородская улица, 12 строение 6</p>
        <p>Санция метро “Улица 1905 года”</p>
      </div>
      <div class="d-block">

      </div>
    </div>
  </div>

</div>

