.title {
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 20px;
  color: #757886;
  text-align: center;
}


.container {
  padding: 60px;
  img {
    margin: 20px auto;
  }
}
