<div class="main p-3 mt-4">
  <div class="title">
    ОСНОВНЫЕ НАПРАВЛЕНИЯ ДЕЯТЕЛЬНОСТИ КОМПАНИИ
  </div>
  <div class="activities d-none d-lg-block">
    Тренинговая компания «Тезаурус» предоставляет своим Клиентам широкий спектр услуг в сфере бизнес-обучения. При этом
    ряд направлений является приоритетным в работе Компании. Это сферы нашей высокой экспертности, в которых мы накопили
    многолетний опыт и огромное количество знаний, которые теперь с удовольствием передаем нашим Клиентам:
  </div>
  <div class="trainings">

    <div class="managers d-flex flex-column flex-lg-row">
      <div class="training col-12 col-lg-3 justify-content-center justify-content-lg-start order-1 order-lg-0 py-3 py-lg-0">Тренинги для руководителей</div>
      <div class="img col-12 col-lg-2 order-0 order-lg-1 py-3 py-lg-0">
        <div class="ellipse">
          <img src="/assets/img/main/activities/people.png" alt="">
        </div>
      </div>
      <div class="description col-12 col-lg-7 order-2 py-3 py-lg-0">
        Мы специализируемся на управленческих тренингах для руководителей разного уровня. В
        арсенале Компании есть мощные стартовые тренинги по основным управленческим навыкам для руководителей начального
        и среднего звена, а так же тренинги по принятию качественных управленческих решений на стратегическом уровне.
      </div>
    </div>


    <div class="b2b d-flex flex-column flex-lg-row">
      <div class="training col-12 col-lg-3 justify-content-center justify-content-lg-start order-1 order-lg-0 py-3 py-lg-0">Тренинги для сегмента B2B</div>
      <div class="img col-12 col-lg-2 order-0 order-lg-1 py-3 py-lg-0">
        <div class="ellipse">
          <img src="/assets/img/main/activities/peoples.png" alt="">
        </div>
      </div>
      <div class="description col-12 col-lg-7 order-2 py-3 py-lg-0">
        Темы, которые всегда будут актуальны в сегменте “Business2Business” - это деловые переговоры и расширение клиентской базы. Эти направления полно и глубоко раскрываются на тренингах нашей Компании. Мы идем в ногу со временем, постоянно совершенствуя наши программы, поэтому в них содержатся самые современные и эффективные практические приемы и технологии.
      </div>
    </div>
    <div class="b2c d-flex flex-column flex-lg-row">
      <div class="training col-12 col-lg-3 justify-content-center justify-content-lg-start order-1 order-lg-0 py-3 py-lg-0">Тренинги для сегмента B2C</div>
      <div class="img col-12 col-lg-2 order-0 order-lg-1 py-3 py-lg-0">
        <div class="ellipse">
          <img src="/assets/img/main/activities/phone.png" alt="">
        </div>
      </div>
      <div class="description col-12 col-lg-7 order-2 py-3 py-lg-0">
        Обучение персонала в сегменте “Business2Client” всегда являлось одной из приоритетных задач для руководителей бизнеса. Качество обслуживания Клиентов играет огромную роль в формировании имиджа Компании на рынке и создании устойчивой клиентской базы. Нашей Компанией накоплен огромный опыт по выведению качества работы персонала в сегменте “B2C” на новый уровень.
      </div>
    </div>
  </div>

</div>
