@import "variables";
@import "mixins/simple-page";
@import "mixins/shared-mixins";
@import "mixins/buttons";
@import "mixins/flip";


@mixin main($c: $main-color) {
  color: $c;
  margin-left: auto;
  margin-right: auto;
  max-width: 1106px;
  padding: 50px 0 0 0;
}

@mixin title {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  padding: 20px 0;
}

@mixin p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}



