$height-nav: 54px;
$height-main-nav: 612px;
$height-main-nav-middle: 527px;
$max-width-container: 1920px;
$background-color-nav: rgba(0, 0, 0, 0.85);
$white: #FFFFFF;
$main-color: #17375E;
$gray: #757886;
$orange: #F1A208;
$black: rgba(0,0,0,0.86);
