<div class="main">
  <div class="title">ОРГАНИЗАЦИОННЫЙ КОНСАЛТИНГ</div>
  <div class="content d-flex justify-content-center">
    <div class="img col-12 col-sm-8 col-md-6">
      <img src="/assets/img/main/consulting/main-consulting.png" alt="">
    </div>
    <div class="header col-6 d-none d-lg-block">
      Этапы совместной работы по созданию системы обучения в компании Клиента:
    </div>
  </div>
  <div class="content d-flex">
    <div class="left-container col-12 col-lg-6 d-flex flex-column justify-content-between">
      <p class="px-5">Мы не можем стать частью Вашей компании, но мы можем вместе с Вами построить Вашу собственную систему обучения, полностью отвечающую задачам Вашего бизнеса.</p>
      <p class="px-5">Если для Вас актуально качественное обучение персонала на постоянной основе, контроль результатов обучения на всех уровнях, прозрачная и понятная система, которой легко управлять - мы создадим такую систему внутри Вашей организации «под ключ».</p>
      <p class="px-5">Мы поможем Вам на всех этапах - от проектирования бизнес-процессов и отбора ключевых специалистов, до аудита работы построенной системы и ее точечной доработки.</p>
    </div>
    <div class="right-container col-6 d-none d-lg-block">
      <div class="item">
        <img src="/assets/img/main/consulting/1.png" alt="">
        <p>Анализ и диагностика ситуации, существующей в Компании на данный момент</p>
      </div>

      <div class="item">
        <img src="/assets/img/main/consulting/2.png" alt="">
        <p>Формулировка целей и задач будущей системы обучения в соответствии с целями и задачами бизнеса Клиента</p>
      </div>
      <div class="item">
        <img src="/assets/img/main/consulting/3.png" alt="">
        <p>Разработка архитектуры будущей системы: проектирование бизнес-процессов, распределение функций и ответственности</p>
      </div>
      <div class="item">
        <img src="/assets/img/main/consulting/4.png" alt="">
        <p>Помощь в создании методической базы: тренинговых программ, учебных и демонстрационных материалов и т. д.</p>
      </div>
      <div class="item">
        <img src="/assets/img/main/consulting/5.png" alt="">
        <p>Помощь в создании методической базы: тренинговых программ, учебных и демонстрационных материалов и т. д.</p>
      </div>
      <div class="item">
        <img src="/assets/img/main/consulting/6.png" alt="">
        <p>Аудит работы системы после ее создания, анализ эффективности ее работы и точечная доработка</p>
      </div>






    </div>
  </div>
  <div class="action">
    <button routerLink="/consulting">Подробнее об услуге</button>
  </div>
</div>
