@import "variables";
@import "mixins";


.main {
  color: $main-color;

  .img-and-menu {
    .img {
      margin-bottom: 30px;
      img {
        width: 100%;
      }
    }

    .menu {
      @media screen and (max-width: 576px) {
        font-size: 12px;
      }
      ul {
        padding: 0;
        list-style: none;
      }
      button {
        position: relative;
        @include button(100%, 23px, $main-color, 12px, 11px, 500, none);
        min-width: 124px;
        margin-bottom: 10px;
        white-space: nowrap;


      }

      .button-icon {
        margin-bottom: 20px;
        padding-left: 48px;
        padding-right: 12px;
        img {
          position: absolute;
          left: 10px;
          top: -10px;
          background: $white;
        }
      }
    }
  }


  font-style: normal;
  .title {
    font-weight: 200;
    font-size: 16px;
    line-height: 16px;
    color: $gray;
  }

  .sub-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 20px;
  }

  .training-audience {
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    color: $gray;
    margin-bottom: 15px;
  }

  .description {
    font-weight: 300;
    font-size: 11px;
    line-height: 20px;
    margin-bottom: 20px;
  }

  .text {
    font-weight: 300;
    font-size: 13px;
    line-height: 21px;
    margin-bottom: 30px;
  }

  .format-duration {
    margin-bottom: 50px;
    .title {
      margin-bottom: 15px;
      font-weight: 600;
      font-size: 11px;
      line-height: 13px;
      color: $gray;
    }

    .format, .duration {
      font-weight: 300;
      font-size: 11px;
      line-height: 20px;
    }
  }

  .cost {
    .title {
      margin-bottom: 15px;
      img {
        margin-right: 20px;
      }

      display: flex;
      align-items: center;
      font-weight: normal;
      font-size: 14px;
      line-height: 30px;
      color: $main-color;
    }

    .company, .people {
      font-style: normal;
      font-weight: 300;
      font-size: 11px;
      line-height: 20px;
      .company-title {
        padding: 5px 0;
        font-weight: 600;
        font-size: 11px;
        line-height: 30px;
        margin-bottom: 20px;
        border-bottom: 1px solid $main-color;
      }

      .sum {
        margin-bottom: 20px;
      }

      .req-button {
        @include button(170px, 23px, $black, 12px, 11px, 500, $orange);
        border-color: $orange;
        margin-bottom: 20px;
      }

      .info {
        font-weight: 300;
        font-size: 11px;
        line-height: 20px;
        color: $gray;
        margin-bottom: 50px;
      }
    }
  }
}
