@import "mixins";
@import "variables";
.main {
  position: relative;
  height: $height-main-nav;
  @media screen and (max-width: 1200px) {
    height: $height-main-nav-middle;
  }

  @media screen and (max-width: 767px) {
    margin-top: $height-nav - 1px;
  }

  &__container {
    position: absolute;
    margin: auto;
    height: 100%;
    width: 100%;
    max-width: 1200px;

    .text {
      position: absolute;
      left: 65px;
      bottom: 0;
      z-index: 5;
      @media screen and (max-width: 1200px) {
        left: 25px;
      }

      & > * {
        padding-bottom: 30px;
      }
      .services {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 23px;
        color: $white;
        width: 175px;
      }
      .button-trainings {
        button {
          @include button(189px, 37px, $black, 7px, 11px, 500, $orange);
          transition: 0.2s ease-out;
          &:hover {
            transition: 0.2s ease-out;
            transform: scale(1.04);
          }
        }
      }
      .motto {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: $gray;
      }
    }

  }

  .main-nav {
    position: relative;
    min-width: 100%;
    width: $max-width-container;
    height: $height-main-nav;
    background-image: url('../../../../../assets/img/main/main-title-background.png'); /* Путь к фоновому изображению */
    background-color: #35281b; /* Цвет фона */
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto;

    @media screen and (max-width: 1200px) {
      position: relative;
      min-width: 100%;
      width: $max-width-container;
      height: $height-main-nav-middle;
      background-image: url('../../../../../assets/img/main/main-title-background-middle.png'); /* Путь к фоновому изображению */
      background-position: left top;
      background-repeat: no-repeat;
      background-size: auto;
    }

    &__logo {
      z-index: 4;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-image: url('../../../../../assets/img/main/logo-main-page.svg'); /* Путь к фоновому изображению */
      background-repeat: no-repeat;
      @media screen and (max-width: 1200px) {
        left: -40px;
      }
    }

    &__menu {
      z-index: 5;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 38%;
      background: rgba(0,0,0,0.6);
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .buttons {
        display: flex;
        flex-direction: column;
        & > button {
          @include button(254px, 23px, $white, 12px, 9px, 500, none);
          margin: 20px 40px;
          transition: 0.2s ease-out;

          &:hover {
            transition: 0.2s ease-out;
            background: $white;
            color: unset;
          }
        }
      }

    }
  }

}

