@import "mixins";

.nav-nav {
  color: $main-color;
  position: relative;
  font-weight: 500;
  letter-spacing: 0.05rem;
  height: 17vh;

  .title {
    @include flex-center;
    position: absolute;
    height: 17vh;
    padding-bottom: 3vh;
    top: 0;
    left: 0;
    right: 0;
    background-image: url(/assets/img/pages-img/title-background.svg);
    background-color: unset;
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
  }
}

